@import url("https://use.typekit.net/rcn0owy.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600&family=Jost:wght@300;600&display=swap");

@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  .touch-action-none {
    touch-action: none;
  }

  .withbg {
    background-image: url("bg/bg.jpg");
  }

  .clip-d20-h {
    clip-path: polygon(
      0% 50%,
      1rem 0%,
      calc(100% - 1rem) 0%,
      100% 50%,
      calc(100% - 1rem) 100%,
      1rem 100%
    );
  }

  .clip-d20-v {
    clip-path: polygon(
      50% 0%,
      100% 1rem,
      100% calc(100% - 1rem),
      50% 100%,
      0% calc(100% - 1rem),
      0% 1rem
    );
  }

  .clip-d20-keep-proportions-v {
    clip-path: polygon(50% 1%, 92% 25%, 92% 75%, 50% 99%, 8% 75%, 8% 25%);
  }

  .clip-d20-h-semi {
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% calc(100% - 2rem),
      calc(100% - 1rem) 100%,
      1rem 100%,
      0% calc(100% - 2rem)
    );
  }

  .clip-arrow-left {
    clip-path: polygon(1rem 0%, 2rem 0%, 1rem 50%, 2rem 100%, 1rem 100%, 0rem 50%);
  }

  .clip-arrow-right {
    clip-path: polygon(
      calc(100% - 2rem) 0%,
      calc(100% - 1rem) 0%,
      100% 50%,
      calc(100% - 1rem) 100%,
      calc(100% - 2rem) 100%,
      calc(100% - 1rem) 50%
    );
  }
}

@layer components {
  * {
    @apply select-none outline-none leading-0;
  }
}
