@import url("https://use.typekit.net/rcn0owy.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600&family=Jost:wght@300;600&display=swap");

@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  .touch-action-none {
    touch-action: none;
  }

  .withbg {
    background-image: url("bg/bg.jpg");
  }

  .clip-d20 {
    clip-path: polygon(
      0% 50%,
      1rem 0%,
      calc(100% - 1rem) 0%,
      100% 50%,
      calc(100% - 1rem) 100%,
      1rem 100%
    );
  }
}

@layer components {
  * {
    @apply select-none outline-none leading-0;
  }

  .button-d20 {
    @apply bg-primary text-primary-contrast clip-d20 hover:bg-primary-light focus:bg-primary-light;
  }
}
