@import url("https://use.typekit.net/rcn0owy.css");
@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;300&family=Maitree:wght@200;300;400&family=Nunito&display=swap");

@tailwind base;

@tailwind components;

@tailwind utilities;

* {
  @apply select-none outline-none;
}

.touch-action-none {
  touch-action: none;
}

.bg {
  background-image: url("./bg/1.svg");
}
