@import url("https://use.typekit.net/rcn0owy.css");

@tailwind base;

@tailwind components;

@tailwind utilities;

* {
  @apply select-none outline-none;
}

.touch-action-none {
  touch-action: none;
}
